<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}PlanYourTrip Web App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


  <header>
    <h1>
      <a href="{{ url_for('index') }}" style="text-decoration: none; color: #333; cursor: pointer;"
        class="small-card">PlanYourTrip Web App</a>
    </h1>
    <!-- <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </nav> -->
  </header>

  <div style="position: absolute; top: 20px; right: 20px;">
    <div class="small-card">
      <h3>
        <!-- <p style="font-size: 14px;">View and edit your personal information.</p> -->
        <a href="{{ url_for('profile.profile') }}" style="text-decoration: none; color: #333; cursor: pointer;">👤
          Personal Profile</a>
      </h3>
    </div>
  </div>
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div style="margin: 20px;">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert"
      style="padding: 10px; background-color: {% if category == 'danger' %}#f8d7da{% elif category == 'success' %}#d4edda{% else %}#cce5ff{% endif %}; color: #000; border-radius: 6px; margin-bottom: 10px;">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <main>
    <br>
    {% block content %}
    {% endblock %}
  </main>

  <a href="{{ url_for('cart.view_cart') }}" style="position: fixed; bottom: 130px; right: 30px; 
          background-color: #fffef0; color: white; 
          padding: 15px 20px; border-radius: 50%; 
          text-align: center; text-decoration: none; 
          font-size: 24px; box-shadow: 0 4px 8px rgba(0,0,0,0.3);">
    🛒
  </a>

  <!-- <footer>
        <p>© 2025 My Website</p>
    </footer> -->
</body>

</html>