{% extends "base.html" %}

{% block content %}
<h1>{{ hotel.HotelName }}</h1>

<div style="display: flex; align-items: flex-start;">
    <img src="{{ hotel.ImageUrl or '/static/images/example.jpg' }}" alt="Hotel Image" style="width: 50%; height: auto;">

    <div style="margin-left: 40px;">
        <p><strong>HotelID</strong><br>{{ hotel.HotelID }}</p>
        <p><strong>Hotel Name</strong><br>{{ hotel.HotelName }}</p>
        <!-- <p><strong>Price</strong><br>2{{ hotel.Price }}</p> -->
        <p><strong>Address</strong><br>{{ hotel.HotelAddress }}</p>
        <p><strong>Room Availability</strong><br>{{ hotel.RoomDescription }}</p>
    </div>
</div>

<form action="{{ url_for('cart.add_to_cart') }}" method="post">
    <input type="hidden" name="item_type" value="hotel">
    <input type="hidden" name="item_id" value="{{ hotel.HotelID }}">
    <button type="submit" style="position: fixed; bottom: 30px; right: 30px; background: black; color: white; font-size: 48px; border-radius: 12px; width: 64px; height: 64px;">+</button>
</form>
{% endblock %}
